<h1>New Story</h1>

<% form_for @story, :url => account_stories_path do |f| %>
  <%= f.error_messages %>
  <%= f.label :title %><br />
  <%= f.text_field :title %><br />

  <%= f.submit "Create" %>
<% end %>
