<% if @prev_page %>
  <a href="<%= url_for(:page => @prev_page.name) %>"><button class="prev-button"></button></a>
<% end %>
  
<% if @next_page %>
  <a href="<%= url_for(:page => @next_page.name) %>"><button class="next-button"></button></a>
<% end %>

<table width="100%">

  <tr>
  <% cols_left = @page.columns %>
  <% @page.tiles.each do |tile| %>
    <td colspan="<%= tile.columns %>">
      <%= render_tile tile %>
    </td>
    <% cols_left -= tile.columns %>
    <% if cols_left <= 0 %>
       </tr><tr>
       <% cols_left = @page.columns %>
    <% end %>
  <% end %>
  </tr>

</table>

<script>
  $j(function() {
    $j('.tile-text').each(function() {
      console.log("Sizeing: ", this);
      size_text_tile(this);
    })
  });
</script>
  